

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 19px;
        line-height: 1.6;
    }
}


a {
    color: #e0ffff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #2d0a3c;
}

.light {
    font-weight: 400;
}

.navbar-fixed-top {
	background-color: gray;	
}

.navbar-custom {
    margin-bottom: 0;
    font-family: Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgba(128,128,128,1);
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        /*border-bottom: 1px solid rgba(255,255,255,.3);*/
        background: rgba(128,128,128,.85);
    }
}

.navbar-fixed-top{
	background-color: gray;
	}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat bottom center fixed;
    background-color: #000;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;

}

.intro .intro-body .brand-heading {
    font-size: 30px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
        overflow: hidden;
    }

    .intro .intro-body .brand-heading {
        font-size: 40px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.logo{
  height: 150px;
  width: 100%;
  background-image: url(../img/logo150pxh.png);
  background-position: center;
  background-repeat: no-repeat;

  }
  @media(min-width:768px) {
      .logo {
        height: 200px;
        width: 100%;
        background-image: url(../img/logo200pxh.png);
        background-position: center;
        background-repeat: no-repeat;
      }
  }

  /* Carousel */

  /*Portait and landcape phone */



  .item,
  .active {
      height: 100%;
  }

  .carousel-inner {
      height: 100%;
  }

/* fronto Card positioned to the right - this is a default position */

  .fronto {
    width: 185px;
    height: 300px;
    left: 85%;
    top: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
    /*background-color: pink;*/
    background-image: url(../img/fronto-sm.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 968px) {
    .fronto {
      width: 185px;
      height: 300px;
      background-image: url(../img/fronto-sm.png);
      top: 90%;
      left: 80%;
      transform: translate(-50%, -50%);
    }
  }
  @media (min-width: 1092px) {
    .fronto {
      width: 277px;
      height: 450px;
      background-image: url(../img/fronto-mid.png);
      top: 80%;
      left: 85%;
      transform: translate(-50%, -50%);
    }
  }
  @media (min-width: 1500px) {
    .fronto {
      width: 369px;
      height: 600px;
      background-image: url(../img/fronto-big.png);
      top: 75%;
      left: 80%;
      transform: translate(-50%, -35%);
    }
  }

  /* backo Card positioned to the left - this is a default position */

    .backo {
      width: 185px;
      height: 300px;
      left: 20%;
      top: 65%;
      position: absolute;
      transform: translate(-50%, -50%);
      /*background-color: pink;*/
      background-image: url(../img/backo-sm.png);
      background-position: center;
      background-repeat: no-repeat;
    }

    @media (min-width: 968px) {
      .backo {
        width: 185px;
        height: 300px;
        background-image: url(../img/backo-sm.png);
        top: 70%;
        left: 20%;
        transform: translate(-50%, -50%);
      }
    }
    @media (min-width: 1092px) {
      .backo {
        width: 277px;
        height: 450px;
        background-image: url(../img/backo-mid.png);
        top: 70%;
        left: 18%;
        transform: translate(-50%, -50%);
      }
    }
    @media (min-width: 1500px) {
      .backo {
        width: 369px;
        height: 600px;
        background-image: url(../img/backo-big.png);
        top: 75%;
        left: 20%;
        transform: translate(-50%, -55%);
      }
    }